{% if expiringToday is not empty %}
<p>
    <strong>Expiring today:</strong>
    <ul>
        {% for item in expiringToday %}
            <li>{{ item.name }} ({{ item.expiry is empty ? '-' : item.expiry | date('d M Y') }})</li>
        {% endfor %}
    </ul>
</p>
{% endif %}

{% if expiringInAWeek is not empty %}
<p>
    <strong>Will expire in a week:</strong>
    <ul>
        {% for item in expiringInAWeek %}
            <li>{{ item.name }} ({{ item.expiry is empty ? '-' : item.expiry | date('d M Y') }})</li>
        {% endfor %}
    </ul>
</p>
{% endif %}
{% if expiredLastWeek is not empty %}
<p>
    <strong>Expired last week. Throw them out!</strong>
    <ul>
        {% for item in expiredLastWeek %}
            <li>{{ item.name }} ({{ item.expiry is empty ? '-' : item.expiry | date('d M Y') }})</li>
        {% endfor %}
    </ul>
</p>
{% endif %}

{% if noExpiry is not empty %}
<p>
    <strong>No expiry date:</strong>
    <ul>
        {% for item in noExpiry %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
</p>
{% endif %}