<h1><a href="{{ path('home') }}">Food Expiry Notifier</a></h1>
<div class="user-widgets">
{% if app.user %}
    <div class="username">
        <i class="fa fa-user"></i> {{ app.user }}
    </div>
    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default">
        Logout
    </a>
{% endif %}
</div>
