html {
    height: 100%;
}

html body {
    font-family: 'Raleway', sans-serif;
    background-color: #DBDBDB;
    color: #333;
    font-size: 18px;
    margin: 0;
    min-height: 100%;
    position:relative;
    padding-top: 20px;
    padding-bottom: 100px;
}

body h1 {
    color: #A9A8A8;
    font-weight: 900;
    text-transform: lowercase;
    font-size: 60px;
    margin: -20px 0 0;
    display: inline-block;
}

body h1 a {
    text-decoration: none;
    color: #699BB4;
    font-weight: 900;
}

body a:hover, body a:focus {
    text-decoration: none;
}

body h2 {
    color: #A9A8A8;
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;
}

body a {
    color: #778185;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: bold;
}

.row.food-table:nth-of-type(even) {
    background-color: #eee;
}

.row.food-header {
    font-weight: bold;
    background-color: #ccc;
}

i.fa{
    font-size: 24px;
}

body footer.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 12px;
}

footer .footer-content {
    padding: 10px;
}

body div.content {
    margin: 20px 20px 0 20px;
}

a.btn {
    font-size: 20px;
    color: #ffffff;
    background: #778185;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 0;
    border: 0;
    text-shadow: 0;
}

a.btn:hover {
    background: #23527C;
    color: #fff;
    text-shadow: 0;
    text-decoration: none;
}

.food-table {
    text-align: center;
}

.tiny-header {
    display: none;
    font-weight: bold;
}

.user-widgets {
    float: right;
    display: inline-block;
}

.user-widgets .username {
    padding-right: 20px;
    display: inline-block;
}

@media (max-width:767px) {
    body div.content {
        margin: 20px 0px;
    }

    .tiny-header {
        display: inline-block;
    }
    .food-header {
        display: none;
    }

    a.btn {
        width: 100%;
    }

    .food-table {
        text-align: left;
    }

    .user-widgets {
        float: none;
        display: block;
    }
}