{% extends 'base.html.twig' %}

{% block body %}
    {% include 'FoodExpiryMainBundle:food:foodNav.html.twig' with {'currentPage': 'allFood'} only %}

    <h2>All food</h2>
    {% include 'FoodExpiryMainBundle:food:foodTable.html.twig' with {'foodArray': allFood} only %}

{% endblock %}