{% for notice in app.session.flashbag.get('notice') %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        {{ notice }}
    </div>
{% endfor %}
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 add-food">
        <a href="{{ path('add_food') }}" class="btn btn-default">
            <i class="fa fa-plus"></i> Add Food
        </a>
    </div>
    {% if app.request.attributes.get('_route') == "home" %}
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 view-all">
        <a href="{{ path('all_food') }}" class="btn btn-default">
            <i class="fa fa-search"></i> View All
        </a>
    </div>
    {% elseif app.request.attributes.get('_route') == "all_food" %}
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 view-expiring">
        <a href="{{ path('home') }}" class="btn btn-default">
            <i class="fa fa-search"></i> View Expiring
        </a>
    </div>
    {% endif %}
</div>