<div class="row food-header food-table">
    <div class="col-md-6 text-left">Item</div>
    <div class="col-md-1">Quantity</div>
    <div class="col-md-3">Expiry</div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
</div>

{% for food in foodArray %}
<div class="row food-table">
    <div class="col-md-6 col-xs-12 text-left"><span class="tiny-header">Item:</span> {{ food.name }}</div>
    <div class="col-md-1 col-xs-12"><span class="tiny-header">Quantity:</span> {{ food.quantity }}</div>
    <div class="col-md-3 col-xs-12"><span class="tiny-header">Expiry:</span> {{ food.expiry is empty ? '-' : food.expiry | date('d M Y') }}</div>
    <div class="col-md-1 col-xs-2"><a href="{{ path('edit_food', {id: food.id}) }}"><i class="fa fa-pencil-square-o"></i></a></div>
    <div class="col-md-1 col-xs-2"><a href="{{ path('delete_food', {id: food.id}) }}"><i class="fa fa-times"></i></a></div>
</div>
{% endfor %}
