{% extends 'base.html.twig' %}

{% block body %}
    {% include 'FoodExpiryMainBundle:food:foodNav.html.twig' with {'currentPage': 'home'} only %}

    {% if expiringToday is not empty %}
        <h2>Eat Now</h2>
        {% include 'FoodExpiryMainBundle:food:foodTable.html.twig' with {'foodArray': expiringToday} only %}
    {% endif %}

    {% if expiredLastWeek is not empty %}
        <h2>If you eat this you might die</h2>
        {% include 'FoodExpiryMainBundle:food:foodTable.html.twig' with {'foodArray': expiredLastWeek} only %}
    {% endif %}

    {% if expiringInAWeek is not empty %}
        <h2>Expiring In A Week</h2>
        {% include 'FoodExpiryMainBundle:food:foodTable.html.twig' with {'foodArray': expiringInAWeek} only %}
    {% endif %}

    {% if noExpiry is not empty %}
        <h2>No Expiry Date</h2>
        {% include 'FoodExpiryMainBundle:food:foodTable.html.twig' with {'foodArray': noExpiry} only %}
    {% endif %}

{% endblock %}