{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.expiry) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.submit, { 'label': submitLabel }) }}
{{ form_end(form) }}
{% endblock %}
